body {
    padding: 20px 20px 60px;
    max-width: 780px;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    font-size: 7vh;
    /* top | right | bottom | left */
    margin: 0 0 0 0;
}

h2 {
    font-weight: 100;
    font-size: 5vh;
    /* top | right | bottom | left */
    margin: 0 0 0 0;
}

p {
    font-weight: 100;
    font-size: 3vh;
    /* top | right | bottom | left */
    margin: 0 0 0 0;
}

button {
    color: black;
    text-decoration: none;
    background-color: white;
    display: inline-block;
    margin: 2px;
    padding: 2px 8px;
    border: 2px solid black;
    border-width: 1px 3px 3px 1px;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}