.background {
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.body {
    width: 100%;
    text-align: start;
    overflow: hidden;
    /* top | right | bottom | left */
    padding: 20px 0 20px 0
}