.article {
    width: 100%;
    text-align: start;
    overflow: hidden;
    /* top | right | bottom | left */
    padding: 8px 0 0 0;
}

.type1 {
    background-color: #0D9472;
}

.type1 h1 {
    padding: 0 4px 0 4px;
    color: white;
}

.subType1 {
    background-color: #D5EFE8;
    font-size: 100%;
    overflow: hidden;
}

.type2 {
    background-color: #312F32;
}

.type2 h1 {
    padding: 0 4px 0 4px;
    color: white;
}

.subType2 {
    background-color: #7B777B;
    font-size: 100%;
    overflow: hidden;
}

.type2 p {
    padding: 0 4px 0 4px;
    color: white
}

.type3 {
    background-color: #038DDA;
}

.type3 h1 {
    padding: 0 4px 0 4px;
    color: white;
}

.subType3 {
    background-color: white;
    font-size: 100%;
    overflow: hidden;
}

.type4 {
    background-color: #b63096;
}

.type4 h1 {
    padding: 0 4px 0 4px;
    color: white;
}

.subType4 {
    background-color: white;
    font-size: 100%;
    overflow: hidden;
}

.button {
    background-color: white;
    display: inline-block;
    margin: 2px;
    padding: 2px 8px;
    border: 2px solid black;
    border-width: 1px 3px 3px 1px;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}